<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="/static/css/login.css" />
</head>
<body>
  <div class="container">
    <!-- FORMULARIO INICIAR SESIÓN -->
    <div class="container-form">
      <form class="sign-in" method="post" action="/login">
        <h2>Iniciar sesión</h2>
        <div class="social-networks">
            <ion-icon name="logo-twitch"></ion-icon>
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-facebook"></ion-icon>
        </div>
        <span>Use su usuario y contraseña</span>
        <div class="container-input">
          <ion-icon name="person-outline"></ion-icon>
          <input type="text" placeholder="Usuario" name="username" required> 
        </div>
        <div class="container-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" placeholder="Contraseña" name="password" required> 
        </div>
        <a href="#">¿Olvidaste tu contraseña?</a>
        <button type="submit" class="button">INICIAR SESIÓN</button>
      </form>
    </div>

    <!-- FORMULARIO REGISTRARSE -->
    <div class="container-form">
        <form class="sign-up" method="post" action="/register">
          <h2>Registrarse</h2>
          <div class="social-networks">
            <ion-icon name="logo-twitch"></ion-icon>
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-facebook"></ion-icon>
          </div>
          <span>Use su correo electrónico para Registrarse</span>
          <div class="container-input">
            <ion-icon name="person-outline"></ion-icon>
            <input type="text" placeholder="Usuario" name="username" required> 
          </div>
          <div class="container-input">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" placeholder="Email" name="email" required> 
          </div>
          <div class="container-input">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" placeholder="Contraseña" name="password" required> 
          </div>
          <button type="submit" class="button">REGISTRARSE</button>
        </form>
    </div>

    <div class="container-welcome">
      <div class="welcome-sign-up welcome">
          <h3>¡Bienvenido!</h3>
          <p>Ingrese sus datos personales para usar todas las funciones del sitio</p>
          <button class="button" id="btn-sign-up">Registrarse</button>
      </div>
      <div class="welcome-sign-in welcome">
          <h3>¡Hola!</h3>
          <p>Regístrese con sus datos personales para usar todas las funciones del sitio</p>
          <button class="button" id="btn-sign-in">Iniciar Sesión</button>
      </div>
    </div>
  </div>

  <script src="/static/js/login.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>